:root {
  --bg-color: #969696;
  --border-left-color: #ffffff33;
  --border-top-color: #ffffff54;
  --border-right-color: #00000026;
  --border-bottom-color: #00000080;
  --color-0: #eaeaea;
  --color-1: #56aadd;
  --color-2: #873388;
  --color-3: #ea9b40;
  --color-4: #255998;
  --color-5: #db3e3c;
  --color-6: #6bb557;
  --color-7: #fde100;
  --button-color-t: #c8c8c8;
  --button-color-r: #969696;
  --button-color-b: #787878;
  --button-color-l: #dedede;
  --cols: 10;
  --rows: 18;
  --tile-size: 20px;
  --border-width: 5px;
}

* {
  box-sizing: border-box;
}

.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

.grid-square {
  border-style: groove;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: 2px;
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  border-radius: 10%;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  gap: 1px;
  align-self: flex-start;
  grid-area: c;
}

.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-header {
  margin-top: 0;
  margin-bottom: 0;
}

.next-container {
  grid-area: r;
}

.next-block {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: r;
}

.held-container {
  grid-area: l;
}

.held-block {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l;
}

.controls {
  grid-area: bc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  border-style: groove;
  border-radius: 10%;
  border-width: 2px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.score-board {
  grid-area: bl;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
}

.score-board-buttons {
  grid-area: br;
  display: flex;
  flex-direction: column;
}

.score-board-button {
  display: block;
  width: 80px;
  padding: 1em;
  margin-bottom: 3px;
  border-style: groove;
  border-radius: 10%;
  border-width: 2px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.message-popup {
  position: relative;
  left: 0;
  top: 0;
  transform: translate(54%, -380%);
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  text-align: center;
}

.message-popup.hidden {
  display: none;
}

/*# sourceMappingURL=game.css.map */
