@use "root";

* {
  box-sizing: border-box;
}

.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

.grid-square {
  border-style: groove;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: 2px;
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  border-radius: 10%;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  gap: 1px;
  align-self: flex-start;
  grid-area: c;
}

.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-header {
  margin-top: 0;
  margin-bottom: 0;
}

.next-container {
  grid-area: r;
}

.next-block {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: r;
}

.held-container {
  grid-area: l;
}

.held-block {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l;
}

.controls {
  grid-area: bc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  border-style: inset;
  border-radius: 50%;
  border-width: 1px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.score-board {
  grid-area: bl;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.score-board-buttons {
  grid-area: br;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-board-button {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 1em;
  margin-top: 2px;
  margin-bottom: 2px;
  border-style: groove;
  border-radius: 10%;
  border-width: 2px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
  align-items: center;
  justify-content: center;
}

.message-popup {
  position: relative;
  left: 0;
  top: 0;
  transform: translate(54%, -380%);
  width: 200px;
  height: 100px;
  background-color: #ffffff80;
  text-align: center;
}

.message-popup.hidden {
  display: none;
}

.score-border {
  background: white;
  position: relative;
  overflow: hidden;
  height: 150px;
  z-index: -1;
  bottom: 50px;
  border-radius: 12%;
}

.score-border::before {
  content: "";
  position: absolute;
  width: 60px;
  background-image: linear-gradient(
    90deg,
    #fde100,
    #ea9b40,
    #56aadd,
    #db3e3c,
    #255998,
    #6bb557,
    #ac41ad
  );
  height: 150%;
  animation: rotateBGImage 3s linear infinite;
  transition: all 0.2s linear;
  z-index: -1;
}

.score-border::after {
  content: "";
  position: absolute;
  background: white;
  inset: 5px;
  z-index: -1;
  border-radius: 12%;
}

@keyframes rotateBGImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
