$color-0: #eaeaea;
$color-1: #80bfe6;
$color-2: #ac41ad;
$color-3: #efb36e;
$color-4: #2f71c1;
$color-5: #e36967;
$color-6: #8ac57a;
$color-7: #ffe831;

.App {
  --col-side: calc((var(--tile-size) * 4) + 4px);
  --col-center: calc((var(--tile-size) * 10) + 10px);
  --grid-height: calc((var(--tile-size) * 18) + 15px);
  text-align: center;
  width: calc(var(--tile-size) * (4.5 + 1 + 10 + 1 + 4.5));
  margin: auto;
  display: grid;
  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 100px var(--grid-height) 100px;
  grid-template-areas:
    "h h h"
    "l c r"
    "bl bc br";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  grid-area: h;
}

.App-title {
  font-weight: bolder;
  -webkit-animation: animate_bg 5s;
  animation: animate_bg 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.App-link {
  color: #61dafb;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animate_bg {
  0% {
    color: $color-0;
  }
  14% {
    color: $color-1;
  }
  28% {
    color: $color-2;
  }
  42% {
    color: $color-3;
  }
  56% {
    color: $color-4;
  }
  70% {
    color: $color-5;
  }
  84% {
    color: $color-6;
  }
  100% {
    color: $color-7;
  }
}

@-webkit-keyframes animate_bg {
  0% {
    color: $color-0;
  }
  14% {
    color: $color-1;
  }
  28% {
    color: $color-2;
  }
  42% {
    color: $color-3;
  }
  56% {
    color: $color-4;
  }
  70% {
    color: $color-5;
  }
  84% {
    color: $color-6;
  }
  100% {
    color: $color-7;
  }
}
